body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('https://img.freepik.com/free-photo/vibrant-sunset-sky-idyllic-landscape-high-up-nature-generated-by-ai_188544-55339.jpg?ga=GA1.1.1077894895.1725607898&semt=ais_hybrid');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-1{
  border-bottom: 1.5px solid rgb(255, 255, 255);
}

nav {
  display: flex;
  gap: 25px;
}

nav a{
  color: rgb(255, 255, 255);
  font-size: 16.5px;
  text-decoration: none;
}


input{
  border: none;
  border-radius: 50px;
  background: #ffffff;
  
}

.div{
  height: 100vh;
}


.p{
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
}

.p span{
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins;
}

.error{
  display: none;
}

.weather-data{
  bottom: 100px;
  backdrop-filter: blur(5px);
  background: #e7e5e56f;
  border: none;
  border-radius: 8px;
  gap: 10%;
}

.input{
  gap: 1%;
}

.button{
  border-radius: 50px;
  background: #131212;
  border: none;
}

.button:hover{
  transition: 0.2s ease;
  background: #1c1b1b;
}

.description{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transform: rotate(180deg);
  
}
